*.exe
lang_it
translate_line
benchmarks/translate_line
benchmarks/results/*.txt
test_server/httplib/server
*.Identifier
.vscode
.vs
desktop/windows/*.dll
wrappers/ruby/pairs
wrappers/ruby/pairs/*
wrappers/ruby/lang_it_rb.o
wrappers/ruby/lang_it_rb.so
pairs/*.o